body{
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    padding: 25px;
    border-radius: 2px;
    border: solid 2px #da86b4;
}

form span{
    display: block;
}

form input{
    display: block;
}